{% extends "desk/app.html" %}
{% load i18n compress %}

{% block app %}
	{% if app.name %}
		<h2>{{ app.name }}</h2>
	{% else %}
		<h2>{% trans "Application" %}</h2>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="col-md-3">
			<ul class="menu">
				<li id="home" class="active" onclick="location.href='#{{ app.slug }}/home';">
					<a href="javascript: void(0);">
						<i class="fa fa-angle-right"></i><span>Home</span>
					</a>
				</li>
				<li id="list" onclick="location.href='#{{ app.slug }}/list';">
					<a href="javascript: void(0);">
						<i class="fa fa-angle-right"></i><span>{% trans "Listing" %}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">Application title</h3>
	    			<button class="btn btn-primary btn-right">Novo registro</button>
	  			</div>
	  			<div class="panel-body">
	  				{% if content %}
		    			{% autoescape off %}
		    				{{ content }}
		    			{% endautoescape %}
		    		{% else %}
		    			Application content
		    		{% endif %}
  				</div>
			</div>
		</div>
	</div>
	{% compress js %}
		<script type="text/javascript">
			board.init();
			var view = new {{ app.slug|title }}View();
    		
		</script>
	{% endcompress %}
{% endblock %}