{% extends "desk/app.html" %}
{% load i18n %}
{% block app %}
	<h2>{% trans "Application" %}</h2>
{% endblock %}
{% block content %}
	<div class="col-md-12">
		<div class="col-md-3">
			<ul class="menu">
				<li>
					<a href="#">
						<i class="fa fa-angle-right"></i><span>Home</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-angle-right"></i><span>Home</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-angle-right"></i><span>Home</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9 box">
		
		</div>
	</div>
{% endblock %}