body {
	background-color: #03669a;
	font-family: "Helvetica Neue", Helvetica, "Open Sans", sans-serif;
	font-size: 14px;
}
header {
	min-height: 100px;
}
.octicon {
	font: normal normal normal 16px/1 octicons;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	font-size: 32px;
	min-width: 32px;
}
.mega-octicon{
	font-size: 45px;
	min-width: 45px;
	line-height: 1.3;	
}
.navbar {
    min-height: 40px;
    border-bottom: 2px solid rgba(0,0,0, 0.2);
}
.navbar-brand {
    height: 45px;
    line-height: 13px;
}
.case-app {
    position: relative;
    margin: 0px;
    float: left;
    width: 138px;
    height: 140px;
}
.app-cursor {
	cursor: pointer;
}
.app-title {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.4px;
	white-space: nowrap;
	padding-top: 10px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 5px rgba(0, 0, 0, 0.5);
	color: #fff;
}
.app-icon {
	color: #fff;
	border-radius: 16px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	display: inline-block;
	margin: auto;
	padding: 20px;
	text-align: center;
}
.app-icon.green {
	background-color: #16723e;
}
.app-icon.yellow-ligth {
	background-color: #d4ec9f;
	color: #000;
}
.login{
	margin: 0 auto;
	margin-top: 10%;
	padding: 20px;
	max-width: 350px;
	border-radius: 8px;
	background-color: #FFF;
	border: 1px solid transparent;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.login .form-control {
	height: 45px;
	font-size: 16px;
	box-shadow: 0px 1px 2px rgba(203, 203, 210, 0.4) inset;
}
.login .btn {
	height: 45px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid rgba(0,0,0, 0.2);
	width: 100%;
}
.navbar-text {
	margin-top: 12px;
	margin-bottom: 0px;
}
.alert-right {
	float: right;
}
.fa {
	cursor: pointer;
}
.fa-1-4x{
	font-size: 1.4em;
}
.dropdown-menu{
	right: 15%!important;
}
.board {
	visibility: hidden;
	position: absolute;
	top: 0;
	padding-top: 45px;
	z-index: 9;
	width: 100%;
	height: 100%;
	color: #36414C;
	background-color: #ffffff;
}
.board h2 {
    margin-top: 20px;
    margin-bottom: 0;
}
.board .menu {
	padding-left: 0px;
	margin-bottom: 0px;
	list-style: outside none none;
	width: 180px;
	
}
.board .menu li {
	cursor: pointer;
	text-align: left;
	height: 40px;
	background-color: #F7FAFC;
	line-height: 40px;
	border-radius: 4px;
}
.board .menu li span {
	padding-left: 12px;
	font-size: 12px;
	font-weight: bold;
}
.board .menu li .fa {
	text-align: right;
	float: right;
	line-height: 40px;
	padding-right: 12px;
}
#loading{
	visibility: hidden;
	position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}