<div class="col-md-12">
	<div class="col-md-3">
		{% if menu %}
			<ul class="menu">
				{% for link in menu %}
					<li>	
						<a href="">
							<i class="fa fa-angle-right"></i><span>{{ link|title }}</span>
						</a>
					</li>
				{% empty %}
					<li>	
						<a href="">
							<i class="fa fa-angle-right"></i><span>Home</span>
						</a>
					</li>
				{% endfor %}
				
			</ul>
		{% else %}
			&nbsp;
		{% endif %}
	</div>
	<div class="col-md-9 box">
		{% block content %}{% endblock %}
	</div>
</div>