{% extends "base.html" %}
{% load compress %}
{% block content %}
	<div id="loading"></div>
	<header>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation"> 
			<div class="container"> 
				<div class="navbar-header">
					{% if client.name %}
						<a href="/" class="navbar-brand">{{ client.name }}</a>
					{% else %}
						<a href="/" class="navbar-brand">Django-Panel</a>
					{% endif %}
				</div> 
			</div> 
		</div>
	</header>
	<div class="container">
		<div class="row">
			{% for app in apps %}
				<div class="case-app text-center app-cursor" onclick="window.location='#{{ app.slug }}';">
					<div class="app-icon" style="background-color: {{ app.color }};">
						<span class="{{ app.icon }}"></span>
					</div>
					<div class="app-title">{{ app.name|title }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% compress js %}
		<script type="text/javascript">
			var Router = Backbone.Router.extend({
				routes: {
					":action": "desk"
				}
			});
			var app_router = new Router;

			app_router.on('route:desk', function(action) {
				$('#loading').css('visibility', 'visible');
				$('#loading').fadeIn();
    			Backbone.ajax({
					url: '/admin',
					success: function (val) {
						$('#loading').fadeOut();
						$('#loading').css('visibility', 'hidden');
					}
				});
			});
			Backbone.history.start();
		</script>
	{% endcompress %}
{% endblock %}