{% load i18n compress %}
<div class="white">
	<div class="container">
		<div class="col-md-12">
			<h2><%= name %></h2>
		</div>
	</div>	
</div>
<div id="board-container" class="container">
	<div class="col-md-12">
		<div class="col-md-3">
			<ul class="menu">
				<li id="home" class="active" onclick="location.href='#/home';">
					<a href="javascript: void(0);">
						<i class="fa fa-angle-right"></i><span>Home</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div id="panel" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><%= name %></h3>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>
{% compress js %}
	<script type="text/javascript">
		if(_.isUndefined(<%= name %>View) === false) {
			var view = <%= name %>View();
			alert('fsddf');
		}
	</script>
{% endcompress %}